// Import bootstrap
@import 'bootstrap-sprockets';
@import 'bootstrap';

// Import partials
@import 'layout';
@import 'shared';
@import 'sidebar';
@import 'avatar';
@import 'forms';
@import 'dropdown-menu';
@import 'checkbox';
@import 'home';
@import 'books';
@import 'book_detail';
@import 'modal';
@import 'table';
@import 'follows';
