.badge {
  color: #fff; 
}

.status-pending  { background-color: #A7A0A6; }
.status-approved { background-color: #DC1FB0; }
.status-rejected { background-color: #CB2813; }
.status-returned { background-color: #131CCB; }
.status-overdue  { background-color: #F6C02D; }
.status-default  { background-color: #CCCCCC; }
