<% if object.errors.any? %>
  <div class="alert alert-danger">
    <h6><%= t("shared.form.errors", count: object.errors.count) %></h6>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
